@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 95%;
    --foreground: 210 45% 20%;
    --card: 210 17% 100%;
    --card-foreground: 210 45% 20%;
    --popover: 210 17% 100%;
    --popover-foreground: 210 45% 20%;
    --primary: 210 45% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 17% 91%;
    --secondary-foreground: 210 45% 30%;
    --muted: 210 17% 91%;
    --muted-foreground: 210 17% 55%;
    --accent: 81 31% 42%;
    --accent-foreground: 81 31% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 88%;
    --input: 210 17% 88%;
    --ring: 210 45% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 210 17% 85%;
    --card: 210 10% 15%;
    --card-foreground: 210 17% 85%;
    --popover: 210 10% 12%;
    --popover-foreground: 210 17% 85%;
    --primary: 210 45% 70%;
    --primary-foreground: 210 45% 15%;
    --secondary: 210 10% 20%;
    --secondary-foreground: 210 17% 90%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 17% 60%;
    --accent: 81 31% 62%;
    --accent-foreground: 81 31% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 210 45% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
